<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <b><%= title %></b>
            </div>
            <div class="navigator">
                <a class="active" href="/">Home</a>
                <a href="/recipeList">Recipe List</a>
            </div>
            <div class="body">
                <div style="padding: 15px; margin: 10px; border: 2px solid lightgray;border-radius: 10px;">
                    Featured
                    <ol style="margin-top: 5px;"> 
                        <li> My top 10 favorite films </li>
                        <li> Learn about me on my about page </li>
                    </ol>
                </div>
            </div>
            <div class="body" style="padding: 5px 20% 0 0">
                <h2>This page will talk about my experience of making this site.</h2> <br>
                Annoying, I kept on having problems with the css file not being synced. I think it is a problem with my vscode but for some reason it would hold on to old
                changes that were no longer in the code (ex. I changed how my columns worked to 2 columns instead of 3 and it just wouldn't change. Had to copy the code to another file and there it changed)
                <br>
                <br>
                <div>
                    <a href="about.html" class="button center" >Learn More</a>
                </div>
            </div>
            <div class="footer">
                <span>
                This page was created by:<br>
                Paul Borrego <br>
                <br>
                Using help from the following sources: <br>
                <br>
                My Brain <br>
                My Pain <br>
                and W3 School
                </span>
            </div>
        </div>
    </body>
</html>
