<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <b><%= title %></b>
            </div>
            <div class="navigator">
                <a class="active" href="/">Home</a>
                <a href="/recipeList">Recipe List</a>
            </div>
            <div class="body">
                <div style="padding: 15px; margin: 10px; border: 2px solid lightgray;border-radius: 10px;">
                    Featured
                    <ol style="margin-top: 5px;"> 
                        <li> </li>
                    </ol>
                </div>
            </div>
            <div class="body" style="padding: 5px 20% 0 0">
                <h2></h2> <br>
            </div>
            <div class="footer">
                <span>
                This page was created by:<br>
                Paul Borrego <br>
                <br>
                Using help from the following sources: <br>
                <br>
                My Brain <br>
                My Pain <br>
                and W3 School
                </span>
            </div>
        </div>
    </body>
</html>
