<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <b><%= title %></b>
            </div>
            <div class="navigator">
                <a class="active" href="/">Home</a>
                <a href="/recipeList">Recipe List</a>
                <a href="/recipeAdd">Add A Recipe</a>
            </div>
            <div class="body" style="grid-column: 1 / span 3;">

            </div>
            <div class="footer">
                <span>
                This page was created by:<br>
                Paul Borrego <br>
                <br>
                Using help from the following sources: <br>
                <br>
                My Brain <br>
                My Pain <br>
                and W3 School
                </span>
            </div>
        </div>
    </body>
</html>
