<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title> Home </title>
    </head>
    <body>
        <div class="container three">
            <div class="header">
                <b> Home </b>
            </div>
            <div class="navigator">
                <a class="active" href="/">Home</a>
                <a href="/recipeList">Recipe List</a>
                <a href="/recipeAdd">Add A Recipe</a>
            </div>
            <div class="body" style="grid-column: 1 / span 3;">
                <h1>My Food Experience</h1>
                <h2> Here are some Scattered thoughts</h2>
                <p>
                    Some people live to eat while others eat to live. I have always been the later.
                    I still like food but my most commonly eaten meal is Peanut Butter and Jelly and
                    every time I need to make breakfast I always make an over easy egg on bread. 
                    I am pretty utilitarian when it comes to meals. but I still do have a favorite meal.
                    If I were to have a last meal I would have cheese enchilladas from Las Vegas Cafe in Harlingen, TX.
                    Other random things, not a fish guy, but not for lack of trying. I will try pretty much everything.
                    Liver is good, chicken feet are okay, and Thai food is phenomenal.
                </p>
            </div>
            <div class="footer">
                <span>
                This page was created by:<br>
                Paul Borrego <br>
                <br>
                Using help from the following sources: <br>
                <br>
                My Brain <br>
                My Pain <br>
                and W3 School
                </span>
            </div>
        </div>
    </body>
</html>
