<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
</head>
    <body>
        <div class="container">
            <div class="header">
                <b><%= title %></b>
            </div>
            <div class="navigator">
                <a href="/">Home</a>
                <a class="active" href="/recipeList">Recipe List</a>
                <a href="/recipeAdd">Add A Recipe</a>
                <div class="search">
                    <label for="lookup">Search</label>
                    <input type="search" id="searchTerm" name="searchTerm">
                    <button id="searchButton" onclick="searchForFood('<%= JSON.stringify(foods)%>')">CLICK</button>
                </div>
            </div>
            <%- include('./partials/food_list') %>
            <div class="footer">
                <span>
                This page was created by:<br>
                Paul Borrego <br>
                <br>
                Using help from the following sources: <br>
                <br>
                My Brain <br>
                My Pain <br>
                and W3 School
                </span>
            </div>
        </div>
        <script>

            function showPopup(element) {
                const popup = element.querySelector(".popup");
                popup.style.display = "block";
            }

            function hidePopup(element) {
                const popup = element.querySelector(".popup");
                popup.style.display = "none";
            }
            function searchForFood(foods) {
                let food_list = JSON.parse(foods);                
                let s = document.getElementById("searchTerm");
                food_list.forEach(f => {
                    if (f.Product.includes(s.value)) {
                        console.log(f);
                    }
                });
            }
        </script>
    </body>
</html>