body {
    margin: 0;
}
li {
    line-height: 20px;
}
body, .container{
    min-height: 100vh;
    min-width: 100vh;
}
.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 12fr 3fr;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.container .header {
    grid-column: 1 / span 3;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,#cc2b5e, #753a88);
    font-size: 32px;
    color: white;
}
.container .navigator {
    grid-column: 1 / span 3;
    font-size: 18px;
    background-color: #333333;
    text-align: center; /* Centers text along with next few lines*/
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;  /*Makes buttons farther away*/
}
.container .body {
    font-size: 16px;
    color: black;
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    z-index: 5;
}
.body a {
    color: black;
}
a {
    color: white;
    text-decoration: none;
}
.active {
    text-decoration: underline;
    font-weight: bold;
}
.container .footer {
    grid-column: 1 / span 3;
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 9px 16px;
    border-radius: 3px;
    text-decoration: none;
    width: auto;
}
.button:hover {
    background-color: #45a049;
}
span {
  display: table-cell;
  vertical-align: middle;
}
.center {
    position: absolute;
    right: 47%;
    text-align: center;
}

.hover-box {
  position: relative;
  display: inline-block;
}

.popup {
  display: none;
  position: absolute;
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
}

.popup img {
    width: 150px;
    height: 150px;
    z-index: 10;
}